[submodule "frontend"]
	path = frontend
	url = https://github.com/PaulasGitHub/frontend.git
[submodule "gateway"]
	path = gateway
	url = https://github.com/PaulasGitHub/gateway.git
[submodule "Calculator-Service"]
	path = Calculator-Service
	url = https://github.com/Krysenkova/Calculator-Service.git
[submodule "KBE_Project"]
	path = KBE_Project
	url = https://github.com/Krysenkova/KBE_Project.git
